.App {
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-position-x: 40%;
  font-family: "Lacquer";
  font-weight: 400;
  font-style: normal;
}

h4 {
  color: aliceblue;
}

.monster-card-pic {
  background-color: black;
}



.footer {
  bottom: 0;
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
}

.card {
  color: aliceblue;
}

.monster-card {
  background-color: orange;
}

.card-image {
  height: 50%;
}

.social-media-card{
  box-shadow: 10px 10px 20px black;
  width: 50%;
  font-size: large;
}

.social-media-img {
  width: 2rem; 
  height: 2rem;
}

.bio-card {
  height: auto;
}

.promo {
  box-shadow: 10px 10px 20px black;
  margin-bottom: 15px;
}

.promo-pic-vert {
  height: 24em;
}

.promo-pic-horz {
  height: 17em;
}

.sdw {
  box-shadow: 10px 10px 20px black;
}


#fb-button {
  background-color: #4267B2;
}

#ig-button {
  /* background: rgb(251,173,80);
  background: linear-gradient(90deg, rgba(251,173,80,1) 0%, rgba(138,58,185,1) 100%); */
  background-color: #F56040;
}

#tt-button {
  background-color: black;
}

#yt-button {
  background-color: red;
}

#sp-button {
  background-color: #1DB954;
}




