@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lacquer&display=swap');

body {
  margin: 0;

}
.container {
  font-family: "Lacquer";
  font-weight: 400;
  font-style: normal;

}

h4 {
  color: white;
}

.monster-card {
  background-color: orange;
}

.monster-card-pic {
  background-color: black;
}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
